<section class="flex flex-col md:flex-row gap-8 justify-center items-center text-neutral-300 ">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Me llamo Ariel. Estudie Derecho y me especialice en la Abogacía. Mientras preparaba el examen del Ministerio de Justicia empece a estudiar 
        FP de Desarrollo de Aplicaciones Multiplataforma (DAM).
      </p>
      <p>
        Y tras finalizar los estudios estoy enfocado en el mundo de la programación. Disfruto de la parte Front-end, donde puedo tener más creatividad y crear buena experiencia del usuario.
      </p>
    </div>
  </section>