

<header class={`
    sticky top-0
    z-10
    pt-5
    bg-[#212f3b]
    
    
  `}>
    
    <nav
    class={`
    
     max-w-[700px]
     flex justify-between
     mx-auto
     text-lg
     px-4
     pb-2
     shadow-md shadow-zinc-950
     
     
     
    `}
  >
    <a class="font-bold bg-gradient-to-r from-slate-200 to-slate-400 bg-clip-text text-transparent hover:from-amber-200 hover:to-yellow-600"
      href="#experiencia">Experiencia</a
    >
    <a class="font-bold bg-gradient-to-r from-slate-200 to-slate-400 bg-clip-text text-transparent hover:from-amber-200 hover:to-yellow-600"
    href="#proyectos"
      >Proyectos</a
    >
    <a class="font-bold bg-gradient-to-r from-slate-200 to-slate-400 bg-clip-text text-transparent hover:from-amber-200 hover:to-yellow-600"
    href="#about"
      >Sobre mí</a
    >
    <a class="font-bold bg-gradient-to-r from-slate-200 to-slate-400 bg-clip-text text-transparent hover:from-amber-200 hover:to-yellow-600"
     href="#contacto"
      >Contacto</a
    >
  </nav>
</header>