<a
  class={`
    ring-2 ring-amber-100/60 border-gray-300 rounded-nose
    bg-[#364d61]/40
    shadow-lg
    shadow-zinc-900
    transition duration-0
    hover:ring-amber-100
    hover:scale-110
    flex
    gap-x-2 items-center
    p-2
    text-neutral-300
    max-w-fit
    min-w-24
    
    
  `}
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>